{% extends 'base.html' %}
{% load static %}

{% block content %}
<h3 class="trycss" >Aknowledge me</h3>
<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="{% static '/images/blackmakeup.jpg' %}" alt="welcome" width="100%">
        </div>
        <div class="col-6 text-center">
            <h3>FACE YOUR<br>BEAUTY WITH US.</h3>
            <P>Join our community and get access to<br>beauty products around you. </P>
            <a href=""><button>Sign Up</button></a>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-6 text-center">
            <h3>FACE YOUR<br>BEAUTY WITH US.</h3>
            <P>Join our community and get access to<br>beauty products around you. </P>
            <a href=""><button>Sign Up</button></a>
        </div>
        <div class="col-6">
            <img src="{% static '/images/blackmakeup.jpg' %}" alt="welcome" width="100%">
        </div>
    </div>
</div>
{% endblock%}