{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- <h3 class="trycss" >We're working broo</h3> -->
<a  class="nav-link" href="{% url 'user_profile' %}">My Profile</a>
<a href=" {% url 'add_product' %}"><button>Upload Product</button></a>
<div class="container">
    <div class="row">
        <h3 class="trycss" >Place BG here</h3>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-3 text-center skinhome">
            <h3 class="homeh3">TAKE CARE OF YOUR SKIN</h3>
            <P class="homep">Get the best skin care products in the market.</P>
        </div>
        {% for product in products%}
        <div class="col-3 text-center skinproduct">
            <img src="{{product.product_pic.url}}" alt="image" width="90%">
            <p>{{ product.product_description}}</p>
            <a href=""><button>Contact the Seller</button></a>
        </div>
        {% endfor %}    
    </div>
    <div class="row mt-5">
        <div class="col-6">
            <img src="{% static '/images/blackmakeup.jpg' %}" alt="welcome" width="100%">
        </div>
        <div class="col-6 text-center">
            <div class="skinproduct">
            <h3 class="homeh3">FACE YOUR<br>BEAUTY WITH US.</h3>
            <P class="homep">Join our community and get access to<br>beauty products around you. </P>
            <a href=""><button>Sign Up</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}