.welcomediv1{
    padding-top: 35vh;
}
#welcomeh1{
    color: red;
    font-family: 'Merriweather', serif;
}
#welcomepi{
    font-family: 'Courgette', cursive;
}
#welcomebtn{
    background-color: white;
    border-color: red;
    border-radius: 15%;
    margin-left: 20px;
}
#welcomebtns{
    padding-top: 30px;
}
.redbottomline{
    background-color: red;
    height: 0.5vh;
    margin-top: 30vh;
}
#loginh2{
    font-family: 'Courgette', cursive;
    color: red;
}
.homeh3{
    font-family: 'Poppins', sans-serif;
   
}
.homep{
    font-family: 'Courgette', cursive;
    
}
.skinhome{
    margin: auto;

}
.skinproduct{
    margin-right: 5%;
}
.homebg{
    height: 40vh;
    background:linear-gradient( rgba(0,0,0,0.4),rgba(0,0,0,0.4) ),url(../images/bg-image.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
   
}